.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

.form-container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}


/*.pins-container {
    text-align: center;
}
#pin-img {
    max-width: 250px;
}

#pin-box {
    border-style: solid;
    background-color: red;
}
*/

#wrapper {
    width: 90%;
    max-width: 1100px;
    min-width: 800px;
    margin: 50px auto;
    z-index: 1;
}

#columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;

    /*z-index: 3;*/
    
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

@media (min-width: 960px) {
    #columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 1100px) {
    #columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

.pin:hover {
    /*border-style: solid;*/
    /*border-color: blue;*/
    opacity: 0.6;
}

.pin-edit-btn {
    /*margin: 0 auto;*/
    float: right;
    /*z-index: 5;*/
}

#pin-edit-box {
    padding-top: 50px;

}

#pin-edit-container {

    /*width: 90%;*/
    /*max-width: 1100px;*/
    /*min-width: 800px;*/
    /*margin: 50px auto;*/
    width: 1000px;

    text-align: center;
    border: solid 1px black;
    position: fixed;
    left: 50%;
    right: 50%;
    top: 40%;
    background-color: blue;
    z-index: 100;

    /*max-height: 700px;*/
    margin-top: -200px;

    max-width: 600px;
    margin-left: -300px;

    z-index: 100;
}

#pin-edit-container:hover {
    opacity: 1 !important;
}

#main-pg-author {
    color: #62AABF;
}

#main-pg-author:hover {
    cursor: pointer;
    color: #62AABF;
}

/*#columns:hover .pin:not(:hover) {
    opacity: 0.4;
}
*/